 <div class="container light-blue-text">

    <div class="row center">
        <div class="col s12">
            <h2>Comment utiliser <br> l'administration du site ?</h2>
        </div>
    </div>

     <div class="row">
         <div class="col s12">
             <p class="center materialize-red-text darken-2">
                 La section d'administration possède un système de protection.<br>
                 Après un moment d'inactivité ou lors de la mise en veille de l'ordinateur,<br>
                 il vous sera demandé de réinscrire votre identifiant ainsi que<br>
                 votre mot de passe pour revenir a l'index de l'administration.
             </p>
         </div>
     </div>

     <div class="row">
         <div class="col s12">
             <h3>1. SELECTION DES  SECTIONS :</h3>
         </div>
     </div>

     <div class="row">
        <div class="col s12 m6 l6">
            <p>
                La sélection des pages se font simplement par le biais <br> de la barre de navigation.
                Pour cela il suffit de cliquer sur l'une des sections que <br> l'on veut atteindre.
            </p>
        </div>
        <div class="col s12 m6 l6">
            <div class="row right">
                <div class="col s12">
                    <img src="{{ asset('bundles/corinne/images/Tutoriel/affiche_2.png') }}" alt="affichage" class="img-size materialboxed">
                </div>
            </div>
            <div class="row right">
                <div class="col s12">
                    <img src="{{ asset('bundles/corinne/images/Tutoriel/affiche.png') }}" alt="affichage" class="img-size materialboxed">
                </div>
            </div>
        </div>
     </div>

     <div class="row">
         <div class="col s12">
             <h3>2. AJOUT DANS UNE SECTION :</h3>
         </div>
     </div>

     <div class="row">
         <div class="col s12 m6 l6">
             <div class="row">
                 <div class="col s12">
                     <img src="{{ asset('bundles/corinne/images/Tutoriel/Ajout_2.png') }}" alt="ajout" class="img-size materialboxed">
                 </div>
             </div>
             <div class="row">
                 <div class="col s12">
                     <img src="{{ asset('bundles/corinne/images/Tutoriel/Editer.png') }}" alt="ajout" class="img-size materialboxed">
                 </div>
             </div>
             <div class="row">
                 <div class="col s12">
                     <img src="{{ asset('bundles/corinne/images/Tutoriel/Ajout_slider.png') }}" alt="ajout" class="img-size materialboxed">
                 </div>
             </div>
         </div>
         <div class="col s12 m6 l6">
             <div class="row">
                 <div class="col s12">
                     <p>
                         Il est possible d'ajouter une nouvelle donnée lorsque vous vous trouvez sur
                         la page d'index de chaque sections.
                     </p>
                 </div>
             </div>
             <div class="row">
                 <div class="col s12">
                     <p>
                         L'ajout dans une section se fait en remplissant les lignes de texte et/ou <br>
                         en sélectionnant une image / une date.<br>
                         pour plus de précision agrandir les images.<br>
                     </p>
                 </div>
             </div>
             <div class="row">
                 <div class="col s12">
                     <p>
                         Dans certaines sections vous pouvez mettre votre nouvelle insertion au carousel de
                         la page d'acceuil.
                     </p>
                 </div>
             </div>
         </div>
     </div>

     <div class="row">
         <div class="col s12">
             <h3>3. LES IMAGES :</h3>
         </div>
     </div>

     <div class="row">
         <div class="col s12 m6 l6">
             <p>
                 L'insertion d'une image contient une contrainte de taille, limité à 3Mo,
                 !! Vérifier que l'image ne dépasse pas cette taille !!
             </p>
         </div>
         <div class="col s12 m6 l6">
             <img src="{{ asset('bundles/corinne/images/Tutoriel/Taille_image.png') }}" alt="image" class=" right img-size materialboxed">
         </div>
     </div>

     <div class="row">
         <div class="col s12">
             <h3>3. LE CALENDRIER :</h3>
         </div>
     </div>

     <div class="row">
         <div class="col s12 m6 l6">
             <img src="{{ asset('bundles/corinne/images/Tutoriel/Calendrier_event.png') }}" alt="image" class="img-size materialboxed">
         </div>
         <div class="col s12 m6 l6">
             <p>
                 Le calendrier s'ouvre en cliquant sur la petite flèche à droite.<br>
                 pour plus de précision agrandir les images.<br>
                 <br>
                 !!ATTENTION!! Pour le navigateur Firefox il faut entrer les<br>
                 dates manuellement (le calendrier n'apparait pas).
             </p>
         </div>
     </div>

     <div class="row">
         <div class="col s12">
             <h3>4. EDITION ET SUPPRESSION :</h3>
         </div>
     </div>

     <div class="row">
         <div class="col s12 m6 l6">
             <div class="row">
                 <div class="col s12">
                     <p>
                         L'edition d'une donnée est identique à un ajout, à ceci
                         près que les champs sont déjà remplis.<br>
                         Il suffit donc de les modifer et de valider pour enregistrer.
                     </p>
                 </div>
                 <div class="col s12">
                     <p>
                         !!! ATTENTION pour les sections Catégorie / Sous catégorie,
                         il vous sera impossible de les supprimer tant que celles-ci auront des Oeuvres
                         associées.<br>
                         <br>
                         Exemple d'association:<br>
                         Catégorie ----> Sous catégorie<br>
                         Sous ctégorie ----> Oeuvre<br>
                         Catégorie ----> Oeuvre.
                     </p>
                 </div>
             </div>
         </div>
         <div class="col s12 m6 l6">
             <div class="row">
                 <div class="col s12">
                     <img src="{{ asset('bundles/corinne/images/Tutoriel/Editer.png') }}" alt="image" class="right img-size materialboxed">
                 </div>
                 <div class="col s12">
                     <img src="{{ asset('bundles/corinne/images/Tutoriel/Securite.png') }}" alt="image" class="right img-size materialboxed">
                 </div>
             </div>
         </div>
     </div>

</div>