{% extends '@Corinne/layout.html.twig' %}


{% block body %}

    <div class="container container-padding">
        <div class="row">

            {% for objet in objets %}

            <div class="col s12 m6 l4">
                <div class="card card-event">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator img-event" src="{{ asset('uploads/pictures/')}}{{ objet.source }}" alt="{{ objet.alt }}">
                    </div>
                    <div class="card-content activator amber-text" id="img-size-event">
                        <span class="card-title  amber-text">{{ objet.alt }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal card-event-reveal">
                        <span class="card-title amber-text">{{ objet.alt }}<i class="material-icons right">close</i></span>
                        <p><span class="amber-text">{{ objet.definition }}<br>
                        </span></p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}